---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('March 22 2023')}
	updatedDate={new Date('March 22 2023')}
	heroImage="/about-hero.jpeg"
>
	<p>
		Nice to e-meet you! I'm RyanMichael, a software engineer from Manassas, Virginia. 
		I specialize in web development and have recently started learning web based game development.
		If you would like to get into contact or work together, please send me 
		an email at <a href='mailto:ryanmichaelhirst@gmail.com'>ryanmichaelhirst@gmail.com</a>!
	</p>
</Layout>
