---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1 class='mb-6'>🧑‍🚀 Hello, Astronaut!</h1>
			<p class='mb-6'>
				Welcome to my portfolio! Feel free to look at my side projects below.
			</p>
			<ol class='list-decimal list-inside'>
				<li>
					<a href='https://www.modelersrift.com' target="_blank">modelersrift.com</a> - View and download League of Legends 3D models in the browser
				</li>
				<li>
					<a href='https://thebestcoloris-production.up.railway.app/' target="_blank">thebestcoloris</a> - Vote on the best color, the most recent vote wins
				</li>
				<li>
					<a href='https://www.ryanmichaelhirst.us' target="_blank">ryanmichaelhirst.us</a> - This portfolio site, made with Astro.js!
				</li>
			</ol>
		</main>
		<Footer />
	</body>
</html>
